body {
    margin: 0 auto;
    padding: 0;
    color: rgb(121, 69, 43);
}


/*nội dung*/

.khampha {
    /* border: 1px solid; */
    padding: 0;
    clear: both;
    /* display: flow-root; */
    font-family: 'Montserrat', sans-serif;
}

.khampha-background {
    /* border: 1px solid; */
    width: 100%;
    background-color: #f3e5da38;
    margin-top: 50px;
    /* fix khung thay đổi vừa theo nội dung và div */
    /* display: flow-root; */
    padding-bottom: 50px;
}

.title-main {
    text-align: center;
}

#title-kp {
    font-size: 14px;
    color: rgb(121, 69, 43);
    letter-spacing: 2px;
    /*khoảng cách chữ*/
    padding-top: 50px;
}

#hr-kp {
    width: 60px;
    background-color: darkgoldenrod;
    margin: auto;
    border-width: 2px;
}

#title-kp-2 span {
    color: darkgoldenrod;
}

#title-kp-2 {
    font-size: 25px;
    color: rgb(121, 69, 43);
    padding-bottom: 50px;
}

.place {
    /* border: 1px solid; */
    width: 87%;
    margin: 0 auto;
    /* display: block; */
    overflow: hidden;
}


/*fix khung ảnh*/

.place .place_1 {
    /* border: 1px dashed; */
    position: relative;
    max-width: 300px;
    padding-left: 0;
    padding-right: 0;
    margin: 0 auto;
    margin-bottom: 20px;
}

.place .place_1:hover {
    box-shadow: 0 0 10px rgb(159 153 152 / 81%);
}


/*fix hình ảnh bằng 100% của khung ảnh*/

.title-img {
    border-radius: 4px 4px 0 0;
    overflow: hidden;
    background-size: cover;
    height: 225px;
    background-position: 50% 50%;
    object-fit: cover;
    width: 100%;
}

.place .place_1 #img_place {
    /* border: 1px solid; */
    display: block;
    /* Fix theo khung của ảnh: Tối đa là 300px */
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
}

.place .place_1 .discout {
    position: absolute;
    top: 0px;
    left: 0px;
    background: #d03220eb;
    color: white;
    border: 1px solid #892a20;
    padding: 6px 20px;
    font: 18px 'themify';
    text-shadow: 1px 5px 5px black;
    border-radius: 0 20px 50px 20px;
    /* border-radius: 20px 0; */
    box-shadow: 1px 1px ghostwhite;
}

.place .place_1 .fa-bookmark {
    font-size: 23px;
    position: absolute;
    margin-top: 10px;
    right: 9px;
    color: #00000099;
}

.place .place_1 .fa-bookmark:hover {
    cursor: pointer;
    color: #7a3d0097;
    ;
}


/* Hiệu ứng phóng ảnh. 
Khi di chuột vào div cha place_1 thì div con img_pace bắt đầu hiệu ứng phóng ảnh */

.place_1:hover #img_place {
    -ms-transform: scale(1.03);
    /* IE 9 */
    -webkit-transform: scale(1.03);
    /* Safari 3-8 */
    transform: scale(1.03);
    transition: .5s ease;
}


/* Fix content của sản phẩm (dưới img) */

.title-cap {
    /* border: 1px solid; */
    border-radius: 0 0 4px 4px;
    background-color: ghostwhite;
    height: 46%;
    box-shadow: 0 0 10px rgb(205 205 216);
    padding: 10px 10px 15px 10px;
    overflow: hidden;
    display: grid;
}

.title-cap #title-cap-name {
    /* border: 1px solid; */
    color: rgb(121, 69, 43);
    float: left;
    width: 70%;
    height: 70px;
    font-size: 15px;
    text-align: left;
    font-weight: bolder;
    overflow: hidden;
}

.title-cap #title-cap-name:hover {
    color: rgb(121 69 43 / 79%);
    text-decoration: none;
    cursor: pointer;
}

.title-cap .rate-star .material-icons {
    float: left;
    font-size: 18px;
    color: orange;
}

.title-cap .title-price {
    /* border: 1px solid; */
    float: right;
    display: grid;
    justify-content: end;
    line-height: 1.5;
}

.title-cap .title-price #reduced-price {
    /* border: 1px solid; */
    float: right;
    color: crimson;
    font-size: 15px;
}

.title-cap .title-price #initial-price {
    /* border: 1px solid; */
    float: right;
    color: rgb(121 69 43 / 79%);
    font-size: 14px;
    text-decoration: line-through;
}


/* Btn mua hàng cũ */

.title-cap .title-cap-button {
    border: none;
    background-color: #9d5710ca;
    position: relative;
    top: 40px;
    color: ghostwhite;
    padding: 10px 20px 10px 20px;
    border-radius: 4px;
}

.title-cap .title-cap-button:hover {
    background-color: #9d5710;
    -ms-transform: scale(1.5);
    /* IE 9 */
    -webkit-transform: scale(1.5);
    /* Safari 3-8 */
    transform: scale(1.05);
    transition: .5s ease;
}


/* btn thêm vào giỏ và xem chi tiết mới */

.title-btn {
    font-size: 13px;
    padding-top: 20px;
}

.title-cap .title-btn .btn-add-cart {
    border: 1px solid rgb(121, 69, 43);
    position: relative;
    background-color: ghostwhite;
    float: left;
    color: rgb(121, 69, 43);
    padding: 10px 15px;
    outline: none;
}

.title-cap .title-btn .btn-add-cart:hover,
.titleMore .btn-more:hover {
    background-color: #f8f8f8;
    border: 1px solid burlywood;
    -ms-transform: scale(1.5);
    /* IE 9 */
    -webkit-transform: scale(1.5);
    /* Safari 3-8 */
    transform: scale(1.05);
    transition: .5s ease;
}

.title-cap .title-btn .btn-detail-product {
    border: 1px solid #9d5710ca;
    position: relative;
    background-color: #9d5710ca;
    float: right;
    color: ghostwhite;
    padding: 10px 15px;
    outline: none;
}

.title-cap .title-btn .btn-detail-product:hover {
    background-color: #9d5710;
    -ms-transform: scale(1.5);
    /* IE 9 */
    -webkit-transform: scale(1.5);
    /* Safari 3-8 */
    transform: scale(1.05);
    transition: .5s ease;
}

.titleMore {
    /* border: 1px solid; */
    display: flex;
    padding: 30px 0 20px 0;
    justify-content: center;
    align-items: center;
}

.titleMore .btn-more {
    border: 1px solid burlywood;
    color: #9d5710;
    background-color: white;
    padding: 10px 25px;
    outline: none;
}


/*====== BOX CART NOTIFICATION ======*/

.title-cap #box-notification {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #fcfcfc;
    box-shadow: 1px 1px 5px #0000000d;
    color: #312323;
    text-align: center;
    border-radius: 10px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    top: 100px;
    font-size: 17px;
}

#box-notification .check-cart {
    border: none;
    color: ghostwhite;
    background-color: #9d5710;
    width: 100%;
    padding: 10px;
    margin-top: 16px;
    border-radius: 5px;
    outline: none;
}

#box-notification .btn-delete-noti {
    font-size: 25px;
    cursor: pointer;
    color: #af0000bd;
    padding-left: 25px;
}

#box-notification .check-cart:hover {
    background-color: #ae6114;
}

.title-cap #box-notification.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {
        top: 0;
        opacity: 0;
    }
    to {
        top: 100px;
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        top: 0;
        opacity: 0;
    }
    to {
        top: 100px;
        opacity: 1;
    }
}

@-webkit-keyframes fadeout {
    from {
        top: 100px;
        opacity: 1;
    }
    to {
        top: 0;
        opacity: 0;
    }
}

@keyframes fadeout {
    from {
        top: 100px;
        opacity: 1;
    }
    to {
        top: 0;
        opacity: 0;
    }
}


/*====== TIN TỨC ======*/

.place-cap {
    /* border: 1px solid; */
    border-radius: 0 0 4px 4px;
    background-color: ghostwhite;
    height: 200px;
    box-shadow: 0 0 10px rgb(205 205 216);
    padding: 10px 10px 15px 10px;
    overflow: hidden;
    display: grid;
    color: #533939;
}

.place-btn {
    position: absolute;
    left: 30%;
    font-size: 15px;
}

.place-btn .btn-detail {
    padding: 10px 15px;
    background: #9d5710;
    color: ghostwhite;
    border: none;
    box-shadow: 1px 1px 5px #0000008a;
    visibility: hidden;
    outline: none;
}

.place_1:hover .btn-detail {
    padding: 10px 15px;
    background: #9d5710;
    color: ghostwhite;
    border: none;
    box-shadow: 1px 1px 5px #0000008a;
    visibility: visible;
    transform: translateY(-70px);
    transition: 0.5s ease;
}

.place-cap #name-news {
    color: #533939;
}

.place-cap #name-news:hover {
    color: #8d6565;
    cursor: pointer;
    text-decoration: none;
}

.place-cap #des-news {
    text-align: justify;
}


/*====== LỢI ÍCH =====*/

.introduce {
    /*border: 1px solid;*/
    margin: 0 auto;
    width: 85%;
    margin-top: 40px;
    margin-bottom: 60px;
    /*Thiết lập thời gian để thực hiện hiệu ứng chạy từ trái qua phải  */
    display: none;
    position: relative;
    -webkit-animation-name: animateRight;
    -webkit-animation-duration: 2s;
    animation-name: animateRight;
    animation-duration: 2s;
}


/* Add Animation LỢI ÍCH */

@-webkit-keyframes animateRight {
    from {
        left: -300px;
        opacity: 0
    }
    to {
        left: 0;
        opacity: 1
    }
}

@keyframes animateRight {
    from {
        left: -300px;
        opacity: 0
    }
    to {
        left: 0;
        opacity: 1
    }
}

.introduce-logo {
    text-align: center;
}

.introduce-logo h3 {
    margin-top: 40px;
    letter-spacing: 2px;
    color: rgb(121, 69, 43);
}

.introduce-logo img {
    width: 150px;
}

.introduce-logo hr {
    width: 60px;
    border-width: 2px;
    background-color: darkgoldenrod;
}

.introduce-benefit {
    /*border: 1px solid;*/
    margin: 0 auto;
    display: flex;
    align-content: center;
    justify-content: space-evenly;
    position: relative;
    margin-top: 50px;
}

.introduce-benefit .introduce-benefit-at-tc-gia-dv {
    /*border: 1px solid;*/
    float: left;
    /* width: 20%;
    height: 10%; */
    width: 100%;
    position: relative;
    display: block;
    text-align: center;
    color: rgb(121, 69, 43);
}

.introduce-benefit-at-tc-gia-dv h5 {
    margin-top: 30px;
    font-weight: bolder;
}

.introduce-benefit .introduce-benefit-at-tc-gia-dv img {
    margin: 0 auto;
    width: 60px;
    border: 2px solid rgb(121, 69, 43);
    border-radius: 100%;
    padding: 10px;
    display: block;
    cursor: pointer;
}

.introduce-benefit .introduce-benefit-at-tc-gia-dv img:hover {
    position: relative;
    top: -3%;
    cursor: pointer;
}

.introduce-benefit .introduce-benefit-at-tc-gia-dv h5:hover {
    text-decoration: underline;
    /* text-underline-position: above; */
    cursor: pointer;
}


/*===== GIỚI THIỆU ======*/

.app-container {
    /*chèn ảnh nền cho khối div*/
    background-image: url(../images/slider1.png);
    /* fix căn ảnh ở giữa khối: áp dụng cho ảnh url */
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    text-align: center;
    font-family: 'Courier New', Courier;
    clear: both;
    margin: 0 auto;
}


/* Lớp mờ*/

.app-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    /*rgba(red, green, blue, alpha), alpha là chỉ số opacity có giá trị từ 0.0 - 1.0*/
}


/* Khối Text */

.app-text-content {
    /* border: 1px solid; */
    padding: 70px 0 70px 0;
    width: 77%;
    margin: 0 auto;
    color: rgb(236, 236, 236);
    position: relative;
}

.app-heading p {
    /*khoảng cách chữ*/
    letter-spacing: 2px;
    text-align: center;
}

.boder-bottom {
    /*Dấu gạch ngang*/
    height: 1px;
    width: 60px;
    background-color: #ad974f!important;
    text-align: center;
    margin: 0 auto;
    margin: 20px auto 30px;
    /*khoảng cách top - bottom từ dấu gạch*/
}

.app-heading h3 {
    font-size: 30px;
    font-weight: 300;
    letter-spacing: 1px;
    text-align: center;
}

.app-content span {
    color: #dab94e;
}

.app-content p {
    /* border: 1px solid; */
    font-size: 16px;
    line-height: 32px;
    margin: 30px 0 40px;
    /*Căn chữ thẳng đều nhau*/
    text-align: justify;
    height: 192px;
    overflow: hidden;
}


/*nút chi tiết*/

.app-content a {
    padding: 14px 30px;
    color: black;
    background-color: #fff;
    text-decoration: none;
    display: inline-block;
    border-radius: 4px;
    font-weight: 500;
}

.app-content a:hover {
    opacity: 0.8;
    -ms-transform: scale(1.5);
    /* IE 9 */
    -webkit-transform: scale(1.5);
    /* Safari 3-8 */
    transform: scale(1.1);
    transition: .5s ease;
}

.app-content-2 p {
    letter-spacing: 2px;
}


/* Kích thước màn hình lap từ 1440px, thì container có width=1475px */

@media (min-width: 0) {
    .app-container,
    .slideshow-container,
    .container {
        max-width: 1440px;
    }
}


/* Kích thước màn hình lap từ 1440px, thì tỉ lệ chia mỗi cột là 25/100%: 4 cột 1 dòng */

@media (min-width: 1440px) {
    .place_1,
    .introduce-benefit-at-tc-gia-dv {
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
    }
    .place {
        width: 88%;
    }
}


/* Kích thước trình duyệt nhỏ hơn 1440 (Theo form col-xxl), thì tỉ lệ chia mỗi cột là 33/100%: 3 cột 1 dòng */

@media only screen and (min-width:1375px) and (max-width:1440px) {
    .place_1,
    .introduce-benefit-at-tc-gia-dv {
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
    }
    .place {
        width: 88%;
    }
    .introduce {
        width: 90%;
    }
}

@media only screen and (min-width:1320px) and (max-width:1375px) {
    .place {
        width: 92%;
    }
}


/* @media (max-width: 1023px) {
    .place_1 {
        -ms-flex: 0 0 33%;
        flex: 0 0 33%;
        max-width: 33%;
    }
    .place {
        width: 75%;
    }
    .introduce {
        width: 90%;
    }
} */


/* Kích thước trình duyệt nhỏ hơn 1281px (Fix Lap:1280px) */

@media (max-width: 1375px) {
    .place_1 {
        -ms-flex: 0 0 33%;
        flex: 0 0 33%;
        max-width: 33%;
    }
    .place {
        width: 75%;
    }
    .introduce {
        width: 100%;
    }
}

@media (max-width: 1200px) {
    .place {
        width: 85%;
    }
}

@media (max-width: 1125px) {
    .place {
        width: 90%;
    }
    .app-text-content {
        width: 90%;
    }
}


/* Kích thước trình duyệt nhỏ hơn 1025px (Fix Lap:1024px) */

@media (max-width: 1025px) {
    .place {
        width: 92%;
    }
    .introduce-benefit-at-tc-gia-dv {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
    .introduce {
        width: 70%;
    }
}

@media (max-width:892px) {
    .introduce {
        width: 75%;
    }
}

@media (max-width:835px) {
    .introduce {
        display: block;
        width: 80%;
    }
}

@media (max-width:785px) {
    .introduce {
        width: 90%;
    }
}


/* Kích thước trình duyệt nhỏ hơn 992px (Theo form col-xxl), thì tỉ lệ chia mỗi cột là 50/100%: 2 cột 1 dòng */

@media (max-width: 992px) {
    .place_1 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
    .place {
        width: 70%;
    }
}


/* Kích thước trình duyệt nhỏ hơn 916px (Fix S20 Ultra Xoay Ngang: 915px) */

@media (max-width: 916px) {
    .place {
        width: 75%;
    }
}


/* Kích thước trình duyệt nhỏ hơn 870px (Fix IP XSMax Xoay Ngang: 869px)
và (Ipad Pro N: 834px) */

@media (max-width: 870px) {
    .place {
        width: 80%;
    }
}


/* Kích thước trình duyệt nhỏ hơn 813px (Fix IP 13 Xoay Ngang: 812px) */

@media (max-width: 813px) {
    .place {
        width: 83%;
    }
}


/* Kích thước trình duyệt nhỏ hơn 769px (Fix Ipad N: 768px) */

@media (max-width: 769px) {
    .place {
        width: 87%;
    }
}


/* Kích thước trình duyệt nhỏ hơn 737px (Fix IP 7Plus: 736px) */

@media (max-width: 737px) {
    .place {
        width: 90%;
    }
}


/* Kích thước trình duyệt nhỏ hơn 715px (Fix IP 13 Xoay Ngang: 712px) */

@media (max-width: 715px) {
    .place {
        width: 95%;
    }
}


/* Kích thước trình duyệt nhỏ hơn 685px (Theo form col-xxl), thì tỉ lệ chia mỗi cột là 100/100%: 1 cột 1 dòng */

@media (max-width: 685px) {
    /* .place_1 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    } */
    .place {
        width: 100%;
    }
    .introduce {
        width: 100%;
    }
    .introduce-logo img {
        width: 130px;
    }
    .app-text-content h3,
    .introduce-logo h3 {
        font-size: 22px;
    }
    .introduce-benefit .introduce-benefit-at-tc-gia-dv img {
        width: 50px;
    }
    .introduce-benefit h5 {
        font-size: 18px;
    }
    .app-content a {
        font-size: 15px;
    }
    #title-kp-2 {
        font-size: 22px;
        padding: 0 45px 45px 45px;
    }
}

@media screen and (max-width:645px) {
    .place .place_1 {
        max-width: 210px;
        margin-bottom: 20px;
    }
    .title-img {
        height: 165px;
    }
    .title-cap {
        height: 55%;
    }
    .title-btn {
        font-size: 10px;
        padding-top: 10px;
    }
    .title-cap .title-btn .btn-add-cart,
    .title-cap .title-btn .btn-detail-product {
        padding: 10px 10px;
    }
    .khampha-background {
        margin-top: 0;
        padding-bottom: 0;
    }
    .place-cap {
        height: 165px;
    }
    .place-cap {
        font-size: 14px;
    }
    .place-cap #des-news {
        height: 85px;
        overflow: hidden;
    }
    #resbtnMorre {
        margin-bottom: 30px;
    }
}

@media (max-width: 420px) {
    .place .place_1 {
        max-width: 198px;
    }
    .title-img {
        height: 155px;
    }
    .place .place_1 .fa-bookmark {
        font-size: 17px;
    }
    .title-cap #title-cap-name,
    .title-cap .rate-star .material-icons,
    .title-cap .title-price #reduced-price {
        font-size: 14px;
    }
    .title-cap .title-price #initial-price {
        font-size: 13px;
    }
    .title-cap .title-btn .btn-add-cart,
    .title-cap .title-btn .btn-detail-product {
        padding: 9px 8px;
    }
    .title-cap #title-cap-name {
        height: 66px;
    }
    #title-kp {
        padding-top: 30px;
    }
    #title-kp-2 {
        font-size: 18px;
        padding: 0 40px 30px 40px;
    }
    .introduce-logo img {
        width: 120px;
    }
    .introduce-benefit h5 {
        font-size: 17px;
    }
    .introduce-benefit-at-tc-gia-dv {
        font-size: 13px;
    }
    .introduce-logo h3 {
        font-size: 18px;
    }
    .app-content p {
        height: 130px;
    }
}

@media screen and (max-width:400px) {
    .place {
        width: 98%;
    }
    .place .place_1 {
        max-width: 180px;
    }
    .title-img {
        height: 135px;
    }
    .title-btn {
        font-size: 9px;
    }
    .title-cap .title-btn .btn-add-cart,
    .title-cap .title-btn .btn-detail-product {
        padding: 8px 5px;
    }
}

@media screen and (min-width:320px) and (max-width:350px) {
    .app-text-content h3,
    .introduce-logo h3 {
        font-size: 18px;
    }
    .place .place_1 {
        max-width: 150px;
    }
    .title-img {
        height: 115px;
    }
    .title-cap #title-cap-name {
        height: 38px;
    }
    .title-btn {
        font-size: 9px;
    }
    .title-cap #title-cap-name,
    .title-cap .rate-star .material-icons,
    .title-cap .title-price #reduced-price {
        font-size: 12px;
    }
    .title-btn {
        font-size: 8px;
    }
    .title-cap .title-btn .btn-add-cart,
    .title-cap .title-btn .btn-detail-product {
        padding: 4px 2px;
    }
}